.SelectedCard {
  display: flex;
  transition: transform 0.4s;
  align-items: center;
  position: absolute;
  padding-top: 0px;
  padding-bottom: 0px;
  top: 24px;
}

.Open {
  transform: scale(1);
}

.Close {
  transform: scale(0);
}
