.Title {
  font-size: 42px;
  border-bottom-width: 3px;
  border-bottom-style: groove;
  display: inline-block;
}

.Copyright {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 10px;
}

.Paragraph {
  font-size: 20px;
  white-space: break-spaces;
}
