.ReviewList {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.ReviewItemHead {
  display: flex;
  justify-content: space-between;
}

.ReviewName {
  font-size: 24px;
  font-weight: bold;
}

.ReviewMessage {
  overflow: hidden;
  max-height: 5rem;
}

.ReviewMessageOverflow {
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.ReviewMessageFull {
  max-height: 100%;
}
