.SimpleField {
  border: 1px solid black;
  position: relative;
  padding: 5px;
  padding-top: 10px;
  border-radius: 5px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.SimpleFieldLabel {
  position: absolute;
  top: -12px;
  border-radius: 10px;
  background-color: white;
}
