@keyframes slideFadeInLeft {
  from {
    transform: translateX(-3em);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideInLeft {
  animation: slideFadeInLeft 1s both;
}
