.DescriptionClamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ServiceCard {
  width: 100%;
  margin-bottom: 12px;
  box-sizing: border-box;
  cursor: pointer;
}

.ServiceCard:hover {
  transform: scale(102%);
}
