.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.00938em;
  font-size: 18px;
  overflow-x: hidden;
  font-weight: 400;
}
